<main>
    <div class="seta">
<a  href='@Url.Action("Galeria","Galerias")'><img src="~/img/icons8-seta-esquerda-64.png" title="volta" alt="volta para galeria"></a> 
</div>

<div class="ajuste">

<div class="barra-busca">

    <input type="text" id="buscar" placeholder="Buscar por album...">
    <a asp-controller="Home" asp-action="Buscar"><img src="~/img/icons8-mais-zoom-60.png" alt=""></a> 

</div>

</div>

<div class="album1">

<h1>Festa dos xurumigos de 3mil anos</h1>

<div>

<div class="ajuste4">
<div>

    <img src="~/img/download.jpg" alt="">
    <img src="~/img/casa 8.jpg" alt=""> 

</div>

<div>

    <img src="~/img/23497616.jpg" alt="">
    <img src="~/img/casa 2.jpg" alt="">

</div>

</div>

<div class="ajuste4">

<div>

    <img src="~/img/casa 7.jpg" alt="">
    <img src="~/img/casa 9.jpg" alt="">
</div>

<div>

    <img src="~/img/festas.jpg" alt="">
    <img src="~/img/festival 3.jpg" alt="">

</div>

</div>

<div class="ajuste4">

<div>

    <img src="~/img/na-balada.png" alt="">
    <img src="~/img/casa 2.jpg" alt="">
</div>

<div>

    <img src="~/img/casa 4.jpg" alt="">
    <img src="~/img/images.png" alt="">

</div>

</div>

<div class="ajuste4">

<div>

    <img src="~/img/370x260_2937575c2689171efaa8664ca1d4fbf5.jpeg" alt="">
    <img src="~/img/casa 1.jpg" alt="">

</div>

<div class="ajuste6">

    <img src="~/img/casa 1.jpg" alt="">
    <img src="~/img/festas.jpg" alt="">

            </div>
        </div>
    </div>
</div>

</main>