<main>
    <div class="seta">
           <a href='@Url.Action("Galeria","Galerias")'><img src="~/img/icons8-seta-esquerda-64.png" title="volta" alt="volta para galeria"></a> 
        </div>
        <div class="pagina-donos">
                <div class="dono2">
            <h2>Cesar Sportore</h2>
                    <img src="~/img/download.jpg"  title="dono do role" alt="um cara">
                    <p> foi um empreendedor e <br>
                        engenheiro mecânico estadunidense, <br>
                        fundador da Ford Motor Company, <br>
                        autor dos livros Minha <br>
                        filosofia de indústria e Minha <br>
                        vida e minha obra, <br>
                         e o primeiro empresário <br>
                          a aplicar a montagem <br>
                         em série de forma a produzir em</p>
                </div>
            
                <div class="dono2">  
                    <h2>Alexandre Fukaya</h2>
                    <img src="~/img/images.jpg"  title="dono do role" alt="sefundo cara">
                    <p>
                     Nasceu na Filadélfia, 20 de <br>
                     março de 1856 — foi um engenheiro <br>
                     mecânico estadunidense. Técnico <br>
                     em mecânica e operário, formou-se <br>
                     engenheiro mecânico estudando  <br>
                     à noite.</p>
                </div>
            </div>


                
                <div class="container-4">
                    <img src="~/img/iluminacao-para-festas-31.jpg" alt="">
                    <img src="~/img/carro 2.jpg" alt="">
            </div>

            <div class="container-4">
                <img src="~/img/carro.jpg" alt="">
                <img src="~/img/som 2.jpg" alt="">
            </div>

            <div class="container-4">

                    <img src="~/img/casa 10.jpg" alt="">
                    <img src="~/img/18018264.jpeg" alt="">
                </div>
                <div class="container-4">

                    <img src="~/img/festa-15-anos-balada-robo-led.jpg" alt="">
                    <img src="~/img/pixabay-imagem.jpg" alt="">
                </div> 
</main>