<main>
    <div class="ajuste">
    <div class="seleciona">
    <a href='@Url.Action("GaleriaCliente","Galerias")'><button>Galeria dos Clientes</button></a>
</div>

<div class="seleciona">

        <a  href='@Url.Action("GaleriaDonos","Galerias")'><button>Galeria dos Donos</button></a>
    </div>
</div>

<h1>Fotos da Casa</h1>

 <div class="carrossel">
        <div class="slideshow-container">

<div class="mySlides fade">
  <img src="~/img/Balada-01.jpg" class="carrossel">
</div>

<div class="mySlides fade">
  <img src="~/img/20667298.jpg" class="carrossel">
</div>

<div class="mySlides fade">
  <img src="~/img/23497616.jpg" class="carrossel">
</div>
<div class="mySlides fade">
    <img src="~/img/a-love-sessions-acontece-das-23h-as-07h-mas-a-festa-contara-com-after-pa_r2S9aXy-825x500.jpg"class="carrossel">
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 

</div>
    </div>

<div class="container-2">

    <div class="colunas">
        <img src="~/img/casa 4.jpg" title="foto da casa1" alt="foto do salão do roletop1">
        <p>camarim exclusivo para atores e cantores com estacionamento com 10 vagas para carros.</p>
    </div>

<div class="colunas">

    <img src="~/img/casa 5.jpg" title="foto da casa2" alt="foto do salão do roletop2">
    <p>salão todo reto para tem mais acesso a deficientes.</p>

</div>

<div class="colunas">

        <img src="~/img/casa 6.jpg" title="foto da casa3" alt="foto do salão do roletop3">
        <p>palco para show e etc.lugar todo de sonex.</p>
    </div>

<div class="colunas">

        <img src="~/img/casa 7.jpg" title="foto da casa4" alt="foto do salão do roletop4">
        <p>umas melhores casa de evento da cidade.</p>
    </div>

</div>

<div class="container-3">

    <div class="colunas2">
        <p>um amplo e moderno salão para todos os seus eventos</p>
        <img src="~/img/casa 8.jpg" title="foto da casa5" alt="foto do salão do roletop5">

</div>

    <div class="colunas2">
        <p>casa com ar condiconando é banheiros super limpos</p>
        <img src="~/img/casa 9.jpg" title="foto da casa6" alt="foto do salão do roletop6">

</div>

    <div class="colunas2">
        <p>casa frequentada por muitos famosos é sempre cantores</p>
        <img src="~/img/festa-15-anos-balada-robo-led.jpg" title="foto da casa7" alt="foto do salão do roletop7">

</div>

    <div class="colunas2">
        <p>lugar bem decorados para suas melhores selfie</p>
        <img src="~/img/images.png" title="foto da casa8" alt="foto do salão do roletop8">
    </div>

</div>

</main>