<main>

<div class="seta">
    <a href='@Url.Action("Galeria","Galerias")'><img src="~/img/icons8-seta-esquerda-64.png" title="volta" alt="volta para galeria"></a> 
</div>

<div class="barra-busca">
    <input type="text" id="buscar" placeholder="Buscar por album...">
    <a href='@Url.Action("Buscar","Galerias")'><img src="~/img/icons8-mais-zoom-60.png" alt=""></a> 
</div>

</div>
<div class="album">
    <a href='@Url.Action("Buscar","Galerias")'><img src="~/img/casa 8.jpg" alt=""> </a>
</div>

        
    </main>