<main>

    <h3>Calendário</h3>

    <div class="data">
        <img src="~/img/calendario.png" title="Calendário" alt="uma folha de Calendário de 30 dias">
    </div>

    <form  method="POST" action='@Url.Action("Agenda2", "Home")'>

            <h2>selecione o dia</h2>
        <div class="formulario">
        <input type="date">
        </div>

    <div class="botao">
        <a><button>agendar</button></a>
    </div>
    </form>

</main>   