<main>
    <div class="dash1">

    <div class="dados">
        <h1>dados</h1>
        <input type="text" name="nome" placeholder="nome">
        <input type="email" name="email" placeholder="Email">
        <input type="email" name="email" placeholder="Confirma Email">
        <input type="text" name="telefone" placeholder="Telefone">
        <input type="password" name="senha" placeholder="Senha">
        <input type="password" name="confirma" placeholder="Confirma Senha"> 
    <div class="botoes">

<div class="botao1">

    <input type="submit" name="botão" value="Cancelar" id="cancelar">
    
    </div>
        <div class="botao2">

        <input type="submit" name="botão" value="Salva" id="salva">
        </div>
    </div>

    </div>
</div> 
</main>