<main>
    <div class="carrossel">
        <div class="slideshow-container">

<div class="mySlides fade">
  <img src="~/img/Balada-01.jpg" class="carrossel">
</div>

<div class="mySlides fade">
  <img src="~/img/20667298.jpg" class="carrossel">
</div>

<div class="mySlides fade">
  <img src="~/img/23497616.jpg" class="carrossel">
</div>
<div class="mySlides fade">
    <img src="~/img/a-love-sessions-acontece-das-23h-as-07h-mas-a-festa-contara-com-after-pa_r2S9aXy-825x500.jpg"class="carrossel">
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 

</div>
    </div>

    <h1>Donos do Rolê</h1>

    <div class="donos">
        <div class="dono1">

            <img src="~/img/download.jpg" title="dono do role" alt="um cara">
            <p>Cesar Sportore foi um empreendedor e <br>
            engenheiro mecânico estadunidense, <br>
            fundador da Ford Motor Company, <br>
            autor dos livros Minha <br>
            filosofia de indústria e Minha <br>
            vida e minha obra, <br>
            e o primeiro empresário <br>
            a aplicar a montagem <br>
            em série de forma a produzir em</p>
        </div>

        <div class="dono1">
            <img src="~/img/images.jpg" title="dono do role" alt="sefundo cara">
            <p>Alexandre Fukaya <br>
            Nasceu na Filadélfia, 20 de <br>
            março de 1856 — foi um engenheiro <br>
            mecânico estadunidense. Técnico <br>
            em mecânica e operário, formou-se <br>
            engenheiro mecânico estudando <br>
            à noite.</p>
        </div>
    </div>

    <div id="foto-one">
        <div class="fotos">
            <img src="~/img/na-balada.png" title="piratão" alt="cara de pirata">
            <img src="~/img/20667298.jpg" title="piratão" alt="cara de pirata">
            <img src="~/img/iluminacao-para-festas-31.jpg" title="piratão" alt="cara de pirata">
            <img src="~/img/festa-15-anos-balada-robo-led.jpg" title="piratão" alt="cara de pirata">

        </div>

        <div class="fotos2">
            <img src="~/img/-1553627899-758b79f78651cd70500a8d63e7a0af71.jpeg" title="piratão" alt="cara de pirata">
            <img src="~/img/23497616.jpg" title="piratão" alt="cara de pirata">
            <img src="~/img/nostrilhosfestajunina-min_160520191052.jpg" title="piratão" alt="cara de pirata">
            <img src="~/img/images (1).jpg" title="piratão" alt="cara de pirata">
        </div>
    </div>

    <div class="historia">

        <h2>Nossa Historia</h2>
        <p>Nascida da ousada ideia dos dois fundadores Alexandre Fukaya e Cesar Sportore, desde 2019,salão de eventos
            que vem oferecendo um salão grande e espaçoso para seus show pelo preço bem em contat!</p>
    </div>

    <div id="maps">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.886996150563!2d-46.64847708502264!3d-23.53656648469521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda%20Bar%C3%A3o%20de%20Limeira%2C%20539%20-%20Campos%20El%C3%ADseos%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001202-001!5e0!3m2!1spt-BR!2sbr!4v1567446468221!5m2!1spt-BR!2sbr"
            width="80%" height="95%" frameborder="0" style="border: 1px black solid" allowfullscreen=""></iframe>
    </div>
    
</main>