<main>
    <div class="somos-donos">

    <div class="dono3">
    <h2>Cesar Sportare</h2>
    <img src="~/img/download.jpg" alt="">
</div>

    <div class="dono3">
    <h2>Alexandre Fukaya</h2>
    <img src="~/img/images.jpg"alt="">
    </div>
</div>

<div class="historia-1">

    <h2>um pouco sobre nossa historia</h2>
    <p>tinha uma hamburgueria com nome mcbonalds ai sobrou um dinheiro resolveram abrir um novo estabelecimento de casa de show com nome RolêTop.</p>

</div>

<div id="nome10">
    <h2>perguntas frequentes </h2>
</div>

<div class="frequentes">
    <img src="~/img/download.jpg" title="usuario" alt="usuario">
    <p>xurumigos existe?</p>
</div>

<div class="perguntas">
    <p>sim.vieram de marte</p>
    <img src="~/img/som.jpg" title="ADM" alt="administrador">
</div>

<hr class="linha">

<div class="frequentes">
    <img src="~/img/casa 10.jpg" title="usuario" alt="usuario">
    <p>por que a terra é redonda?</p>
</div>

<div class="perguntas1">
    <p>porque a terra é uma bola de basquete.</p>
    <img src="~/img/som.jpg" title="ADM" alt="administrador">
</div>

<hr class="linha">

<div class="frequentes">
    <img src="~/img/carro.jpg"title="usuario" alt="usuario">
    <p>qual é o nome do chapolin colorado?</p>
</div>

<div class="perguntas">
    <p>chapolin colorado. </p>
    <img src="~/img/som.jpg" title="ADM" alt="administrador">
</div>

<hr class="linha">

<div class="frequentes">
    <img src="~/img/carro 2.jpg" title="usuario" alt="usuario">
    <p>o sol é quente?</p>
</div>

<div class="perguntas">
    <p>não sei.vai lá e ver.</p>
    <img src="~/img/som.jpg" title="ADM" alt="administrador">
</div>

<div class="historia-1">
    <h2>historia</h2>
        <p>
        Com uma localização privilegiada próximo ao metrô Barra Funda em uma avenida de fácil acesso, <br> o espaço RolêTop oferece toda infra-estrutura para realização de eventos corporativos, festas, shows e locação para filmagens. <br>

        O espaço possui dois salões com entradas independentes equipados com sistema de som e luz , <br> palco e camarins , apresenta ainda um super lounge Open Air com bar externo , ambulatório e uma ampla cozinha equipada para atender buffet. <br>

        Oferecemos todo sistema de som e luz para seu evento e também um Buffet próprio de acordo <br> com o perfil de seu evento. Podemos também assessorar e ou oferecer a equipe completa para que seu evento aconteça da maneira idealizada por você.
        </p>
</div>
<div class="ajuste6">

    <div class="historia-1">
        <h2>regras</h2>
        
        <p>1-Cada partida tem duração de 40 minutos (na NBA são 48 minutos), sendo dividida em quatro tempos de 10 minutos (na NBA são 4 tempos de 12 minutos). Em caso de empates ao final do jogo, <br> 2-permitidas prorrogações de 5 minutos.
            A partida é supervisionada por três árbitros.
            O jogo começa quando um dos árbitros lança a bola para cima. A bola será, então, disputada pelos jogadores que se encontram no círculo central a partir do momento em que ela atingir o ponto mais alto de sua trajetória.
            <br> 3-O manejo da bola deve ser feito somente com as mãos. É proibido, entretanto, caminhar com ela em mãos por mais de dois passos. Deslocamentos maiores com a bola devem ser feitos quicando-a continuamente.
            <br>  4-A cesta é feita quando a bola atravessa o cesto adversário. Cada cesta de campo vale 2 pontos. Quando é feita antes da linha dos 3 pontos, vale, obviamente, 3 pontos. Por fim, um cesto de lance livre tem o valor de 1 ponto.</p>
            
        </div>
</div>

</main>