<main>

    <div class="login">
    <form method="POST" action='@Url.Action("Login", "Cliente")'>
        <h1>Login</h1>
            <input type="email" name="email" placeholder="Email" alt="email">
            <input type="password" name="senha" placeholder="Senha" alt="senha">
            <a id="texto" href="#">Esqueci minha senha</a>
            <input type="submit" name="submit" value="Login" alt="botao de login">
            <a  href='@Url.Action("Index","Cadastro")'>Não Tenho Cadastro</a>
            
    </form>

    </div>
        
</main>